/* Estilos generales */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #999999;
}

/* Barra de navegación */
nav {
    background-color: #00324D;
    padding: 10px 0;
}

.nav-logo img {
    height: 100px; /* Ajusta el tamaño del logo según sea necesario */
}


/* Quienes somos*/

.quienessomos{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
}

.quienessomosh1{
    font-family: Work Sans;
    text-align: center;
}


.image-row {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.image-row img {
    width: 100px; /* Ajusta el tamaño de las imágenes según sea necesario */
    height: auto; /* Mantiene la proporción de las imágenes */
}


.registro{
    position: absolute;
    right: 250px;
    bottom: 100px;
    background-color: #ffffff;
    padding: 80px;
    border: 1px solid #ccc;
}

/* fooder */

footer {
    background-color: #4D4D4D;
    text-align: center;
    font-family: sans-serif;
    color: whitesmoke;
    width: 100%;
    bottom: 0;
    position: fixed;
}

.footer-content p {
    margin: 0;
    padding: 0;
}

.footer-content img {
    margin: 0;
    padding: 0;
}

.footer-content p:first-child {
    margin-bottom: 10px;
}

#logo_ust { height: 150px; }

